[package]
name = "radvisor"
version = "1.1.4"
authors = ["Joseph Azevedo <joseph.az@gatech.edu>", "Bhanu Garg <bgarg6@gatech.edu>"]
edition = "2018"
readme = "README.md"
license = "MIT"

[dependencies]
bus = "2.2.3"
csv = "1.1.3"
failure = "0.1.7"
itoa = { version = "0.4.5", features = ["i128"] }
ctrlc = { version = "3.1.4", features = ["termination"] }
tokio = "0.2.16"
tokio-compat = { version = "0.1.5", optional = true }
lazy_static = "1.4.0"
gethostname = "0.2.1"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
human-panic = "1.0.3"
textwrap = "0.11"
termcolor = "1.1.0"
atty = "0.2.14"
humantime = "2.0.0"
strum = "0.18.0"
strum_macros = "0.18.0"
# TODO: remove github link and migrate to stable version once
# https://github.com/FillZpp/sys-info-rs/pull/54 is merged
sys-info = { git = "https://github.com/jazevedo620/sys-info-rs" }
# TODO: remove github link and migrate to stable version once 3.0 is released
clap = { git = "https://github.com/clap-rs/clap/", default-features = false, features = [ "std", "suggestions", "color", "derive", "wrap_help" ] }
# Kubernetes-specific dependencies
kube = { version = "0.31.0", optional = true }
kube-derive = { version = "0.31.0", optional = true }
k8s-openapi = { version = "0.7.1", default-features = false, features = ["v1_15"], optional = true}

# Unix-specific dependencies
[target.'cfg(unix)'.dependencies]
libc = "0.2.68"
shiplift = { version = "0.6", optional = true }

# Windows-specific dependencies
[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.8", features = ["std"] }
shiplift = { version = "0.6", default-features = false, features = ["chrono", "tls"], optional = true }

[features]
docker = ["shiplift", "tokio-compat"]
kubernetes = ["kube", "kube-derive", "k8s-openapi"]
default = ["docker", "kubernetes"]

[dev-dependencies]
cargo-update = "3.0.0"

# Optimize bundle size on release compilation
[profile.release]
lto = true
codegen-units = 1
