[package]
name = "radvisor"
version = "1.1.4"
authors = ["Joseph Azevedo <joseph.az@gatech.edu>", "Bhanu Garg <bgarg6@gatech.edu>"]
edition = "2018"
readme = "README.md"
license = "MIT"

[dependencies]
tokio = "0.2.13"
tokio-compat = "0.1.5"
bus = "2.2.3"
csv = "1.1.3"
lazy_static = "1.4.0"
libc = "0.2.68"
gethostname = "0.2.1"
itoa = { version = "0.4.5", features = ["i128"] }
ctrlc = { version = "3.0", features = ["termination"] }
kube = "0.30.0"
kube-derive = "0.30.0"
lru_time_cache = "0.10.0"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
human-panic = "1.0.3"
k8s-openapi = { version = "0.7.1", default-features = false, features = ["v1_15"] }
textwrap = "0.11"
termcolor = "1.1.0"
atty = "0.2.14"
humantime = "2.0.0"
winapi = { version = "0.3.8", features = ["std"] }
# TODO: remove github link and migrate to stable version once 3.0 is released
clap = { git = "https://github.com/clap-rs/clap/" }

# Unix-specific dependencies
[target.'cfg(unix)'.dependencies]
shiplift = "0.6"

# Windows-specific dependencies
[target.'cfg(windows)'.dependencies]
shiplift = { version = "0.6", default-features = false, features = ["chrono", "tls"] }

[dev-dependencies]
cargo-update = "3.0.0"

# Optimize bundle size on release compilation
[profile.release]
lto = true
codegen-units = 1
